// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.contact-footer{
    position: relative;
    background-color: white;
    text-align: center;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        height: 18em;
    }
}

.cf-content{
    padding: 3em 4em;
    position: relative;
    background-color: $gray;
    text-align: center;
    @media #{$breakpoint-sm}{
        padding: 3em 7em;
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        background-color: white;
        padding: 1em 2em;
        width: 21em;
        position: absolute;
        z-index: 2;
        top: 4em;
        left: 4em;
        // height: 10em;
    }
    @media #{$breakpoint-lg}{
        padding: 1em 2em;
        width: 20em;
    }
    @media #{$breakpoint-xl}{
        padding: 1.5em 2em;
        width: 21em;
        top: 4em;
        left: 7em;
    }

    .normal-text{
        @media #{$breakpoint-md}{
            font-size: .7em;
        }
        @media #{$breakpoint-lg}{
            font-size: .65em;
        }
        @media #{$breakpoint-xl}{
            font-size: .6em;
        }
    }
}

.cf-title{
    margin-bottom: 1.5em;
    font-size: 1.3em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        font-size: .8em;
    }
    @media #{$breakpoint-xl}{
        font-size: .75em;
    }
}

.cf-button{
    width: 17em!important;
    margin: 3em auto 0 auto!important;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        width: 11em!important;
        margin: 0 auto!important;
    }
}

.cf-quick-links{
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        background-color: $light-pink;
        height: 50%;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
}

footer{
    height: 4em;
    background-color: $light-pink;
    text-align: center;
    @media #{$breakpoint-min-md}{
        height: 1.5em;
        background-color: $gray;
    }
}   

.back-to-top-footer{
    height: 7em;
    text-align: center;
    position: relative;
}

.to-top-text{
    text-transform: uppercase;
    font-family: $font-biko;
    letter-spacing: .2em;
    font-size: .8em;
    text-decoration: none;
    color: $base-text-color;
    @media #{$breakpoint-sm}{
      font-size: .7em;
    }
}

.icon-up-arrow{
    transform: rotate(-90deg);
    height: 1em; 
    margin: 1em;  
}

.to-top{
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    width: 8em;
    margin: auto;
}

.fa-long-arrow-alt-up{
    padding-bottom: .3em;
    font-size: 2em;
}

.back-to-top-md{
    @media #{$breakpoint-min-md}{
        position: absolute;
        top: 9em;
    }

    .to-top{
        @media #{$breakpoint-min-md}{
            height: 7em;
        }
        
    }

    .icon-up-arrow{
        @media #{$breakpoint-min-md}{
            height: 1.3em;
            position: relative;
            left: -1.9em;
            top: 2.5em;
        }
        @media #{$breakpoint-xl}{
            left: -2.5em;
            top: 1.5em;
        }
        
    }
    .to-top-text{
        @media #{$breakpoint-min-md}{
            transform: rotate(90deg);
            font-size: .55em;
            position: absolute;
            left: -2em;
        }
        @media #{$breakpoint-lg}{
            font-size: .5em;
            left: -1.8em;
            top: 7.5em;
        }
        @media #{$breakpoint-xl}{
            font-size: .45em;
            left: -2.5em;
            top: 7em;
        }
        @media #{$breakpoint-xxl}{
            font-size: .4em;
            left: -2.5em;
            top: 7em;
        }
    }    
}

footer{
    text-align: center;
    display: flex;
    align-items: center;
}
.footer-text{
    width: 80%;
    font-size: .75em;
    margin: auto;
    @media #{$breakpoint-min-md}{
        font-size: .6em;
    }
}