.quiz-banner{
    text-align: center;
    padding: 1em 0;
    background-color: rgba(179,222,217,1);
    @media #{$breakpoint-xl}{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: fixed;
        top: 0;
        height: .5em;
    }
}

.quiz-banner-title{
    font-size: 1.2em;
    @media #{$breakpoint-xl}{
        font-size: .6em;
    }
}

.quiz-banner-text{
    width: 80%;
    margin: 1em auto;
    @media #{$breakpoint-xl}{
        font-size: .5em;
    }
}

.quiz-banner-button{
    font-size: 1.2em;
    padding: .3em 2.5em;
    font-weight: 500;
    color: white;
    background-color: rgba(246,142,123,1);
    text-decoration: none;
    letter-spacing: .1em;
    @media #{$breakpoint-xl}{
        font-size: .5em;
    }
}