.quiz-banner{
    background-color: blue;
    padding: 20px;
    text-align: center;
    height: 9em;
    @media #{$breakpoint-min-md}{
        height: 3em;
        display: flex;
    }
    @media #{$breakpoint-xl}{
        height: 2em;
    }
      
}

.toggle-header-fixed{
    position: fixed!important;
    top: 0;
    bottom: 0;
    z-index: 99;
    text-align: initial;
    @media #{$breakpoint-min-md}{
      background-color: transparent;
    }
}

.toggle-header-relative{
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: $gray;
    top: 0;
    z-index: 99;
    text-align: initial;
    @media #{$breakpoint-min-md}{
        background-color: transparent;
        position: absolute;
        top: 3em;
    }
    @media #{$breakpoint-xl}{
        top: 3em;
    }
    .nav-toggle{
        @media #{$breakpoint-min-md}{
            top: 1.3em;
        }
        @media #{$breakpoint-xl}{
            top: 1.1em;
            right: 2em;
        }
    }
}

.toggle-wrapper{
    height: 50px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    @media #{$breakpoint-min-md}{
        top: 0;
    }
    .nav-toggle{
        @media #{$breakpoint-xl}{
            top: 1.1em;
        }
    }
}

.header-name-quiz{
    font-family: $font-roboto;
    position: relative;
    top: .6em;
    left: .5em;
    color: rgba(59,64,63,1);
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.2em;
    font-size: 1.6em;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    @media #{$breakpoint-sm}{
        margin: 0; 
        left: .6em;
        top: .5em;
    }
    @media #{$breakpoint-min-md}{
        display: none; 
    }

}